# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & virtualenvs
.venv/
venv/
ENV/
env/

# Environment variables
.env

# Database local storage (optional to ignore or commit depending on test need)
*.sqlite3-journal

# Node dependencies & build output
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/
